data/Mguttatusvar_IM767_887_v2.0.fa
data/Mguttatusvar_IM767_887_v2.1.gene.gff3
.Rproj.user
Codon_bias_analysis.Rproj
.Rhistory
.RData
*.Rproj
results/
*.pdf
*.png
*.jpg
Env
./results
data/bud_gene_expression_cpm_remapped.txt
data/leaf_gene_expression_mean_cpm.txt
data/new_name_old_name.genes.xlsx
Todo
miscellanea_code/proc2.py
data/all_chromosomes.bygene.pi.txt
data/all_chromosomes.codon_frequencies_preferred_centric.txt
data/all_chromosomes.codon_frequencies.txt
data/all_chromosomes.codon_frequencies_preferred.txt
data/all_chromosomes.site_freq_by_preference.txt
